<!-- vota view -->
{% extends "base.html" %}


{% block content %}
<div class="container register">
<h2>INCIDENCIES</h2>

<ol>
{% for incidencies in incidencies_list %}
	
	<li>{{incidencies.departament}}-{{incidencies.nom}} - <a title="{{incidencies.nom}}" href="/CoInf/Indesc/{{incidencies.id}}">{{incidencies.estat}}</a></li>
		
{% empty %}
	<li>No hi ha cap incidencia</li>
{% endfor %}
</ol>

<button type="button" onclick="location.href='/CoInf/incidencies'">Return</button>
</div>
{% endblock %}